.art {
  background: url('./images/bg-pattern-circles.svg') no-repeat;
  background-size: 150%;
  background-position: -100px -225px;
  background-color: var(--color-grad-body-500);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-bottom: 6em;
  padding-inline: 2em;
  position: relative;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10em;
  gap: 2em;
}

.art__image {
  position: absolute;
  top: 0;
  translate: 0 -50%;
}

.art__title {
  font-size: 2rem;
  line-height: 1.2;
  margin-block: 0.5rem;
}

@media screen and (min-width: 764px) {
  .art {
    flex-direction: row;
    margin-top: 0;
    padding-bottom: 0;
    height: 40vh;
    min-height: 0;
    justify-content: center;
    background-size: 60%;
    background-position: -100px -400px;
    padding-inline: 0;
    /* gap: 8rem; */
  }
  .art__image {
    position: relative;
    translate: 0;
    scale: 1.1;
  }

  .art__text {
    width: 40%;
    text-align: start;
  }
}
