.header {
  background: url('./images/bg-pattern-intro-mobile.svg') 35%;
  background-size: auto;
  background-color: var(--color-red-500);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em 2em 8em;
  border-bottom-left-radius: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(200px, 100%, 1280px);
}

.navbar__brand {
  font-size: 2rem;
  font-weight: 600;
}

.navbar__icon {
  font-size: 1.5rem;
}

.header__cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header__title {
  font-size: clamp(2rem, 8vw, 3rem);
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 1rem;
  padding-inline: 1rem;
}

@media screen and (min-width: 764px) {
  .header {
    min-height: 50vh;
  }

  .navbar {
    margin-inline: auto;
    margin-bottom: 2em;
  }
}
