.tools {
  display: flex;
  width: clamp(200px, 100%, 1280px);
  margin-inline: auto;
  flex-direction: column;
  padding-inline: 2em;
  padding-block: 4em;
  margin-bottom: 2em;
}

.tools__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tools__details {
  color: var(--color-neutral-500);
}

.tools__title {
  color: var(--color-blue-500);
  font-weight: 600;
  margin-bottom: 1.5em;
}

.tools__img {
  padding-block: 3em;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 764px) {
  .tools {
    flex-direction: row;
  }
  .tools__content {
    text-align: start;
  }

  .tools__img {
    scale: 1.75;
    overflow: hidden;
    translate: 10% 0;
    flex-shrink: 0;
    width: 50%;
    translate: -200px 0;
  }
}
